<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="ev-dialog-behavior.html">
<link rel="import" href="../ev-overlay/ev-overlay.html">
<link rel="import" href="../ev-styles/typography.html">
<link rel="import" href="../ev-icons/ev-icons.html">
<link rel="import" href="../ev-icon-button/ev-icon-button.html">

<dom-module id="ev-dialog">
  <template strip-whitespace>
    <style>
      :host {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: row;
        justify-content: center;
        box-sizing: border-box;
        width: var(--ev-container-width, 620px);
        height: var(--ev-container-height, 280px);
        perspective: 600px;
        z-index: 200;
        @apply --ev-font-common-base;
      }

      :host([hidden]) {
        display: none !important;
      }

      #inner-wrapper {
        width: 100%;
        height: 100%;
        padding: var(--ev-padding, 40px 40px 40px 40px);
        background-color: var(--ev-container-color, var(--ev-icon-fill));
        border: var(--ev-border, 1px solid #E0E0E0);
        border-radius: var(--ev-border-radius, 0px);
        border-width: var(--ev-border-width, 1px);
        border-style: var(--ev-border-style, solid);
        border-image: var(--ev-border-image, linear-gradient(to bottom, #e0e0e0, #b2b2b2) 1 100%);
        box-shadow: var(--ev-box-shadow, 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2));
      }

      #close {
        position: absolute;
        right: 0;
        top: 0;
        box-shadow: none;
        cursor: pointer;
      }

      #close ev-icon-button:hover {
        box-shadow: none;
      }

      #popover-close-btn {
        width: 48px;
        height: 48px;
        padding: 0px;
      }

      @keyframes animate-open {
        from { transform: rotateX(15deg) scale(0.8); opacity: 0; }
        to { transform: rotateX(0deg) scale(1); opacity: 1; }
      }

      @keyframes animate-close {
        from { transform: rotateX(0deg) scale(1); opacity: 1; }
        to { transform: rotateX(15deg) scale(0.8); opacity: 0; }
      }

      .open-with-animate {
        animation: animate-open 0.25s ease-in-out forwards;
      }

      .close-with-animate {
        animation: animate-close 0.25s ease-in-out forwards;
      }

    </style>

    <div id="inner-wrapper">
      <div id="close" role="button">
        <ev-icon-button id="popover-close-btn" dialog-dismiss noink icon="ev-icons-extra-large:popover-close"></ev-icon-button>
      </div>
      <slot></slot>
    </div>

  </template>

  <script>
/**
`ev-dialog` is a dialog that can be completely customised. The dialog can be closed by clicking anywhere outside the dialog.
Elements that have the attributes `dialog-confirm` or `dialog-dismiss` also close the dialog.

### Styling
Style the dialog with CSS as you would a normal DOM element.

    <!-- set the position of the dialog to be 20px from the top, 100px to the left with a width of 400px -->
    <ev-dialog icon="ev-icons:exclamation" style="top: 20px; left: 100px; width: 400px;"></ev-dialog>

By default the dialog has a close button, this can be removed by setting the attribute 'hide-close' on the dialog.

To make elements in the div scroll, set the attribute `scrollable` on the enclosing <div>. This displays a custom
scroll bar.

To animate the opening and closing of the dialog, set the `animated` attribute of the dialog.


The following custom properties and mixins are available for styling:

Custom property               | Description                     | Default
------------------------------|---------------------------------|------------------------------------------------
`--ev-container-width`        | Dialog width                    | default is 620px
`--ev-container-height`       | Dialog height                   | default is 280px
`--ev-container-color`        | Background color dialog         | default is white
`--ev-padding`                | Paddding inside the dialog      | top, right, bottom, left: 40px 40px 40px 40px
`--ev-border`                 | Dialog border                   | default is 1px solid #E0E0E0
`--ev-border-radius`          | Border radius                   | default is 0px
`--ev-border-width`           | Border width                    | default is 1px
`--ev-border-style`           | Border style                    | default is solid
`--ev-border-image`           | Border image                    | default is a box shadow that fades to the edges
`--ev-box-shadow`             | Box shadow                      | default is a box shadow


@customElement
@polymer
@demo demo/ev-dialog.html
*/
    class EvDialog extends EvDialogBehavior(Polymer.Element) {
      static get is() { return 'ev-dialog'; }
      static get properties() {
        return {
          /**
           * If true, the close button is not displayed
           */
           hideClose: {
             type: Boolean,
             value: false
           }
        }
      }

      ready() {
        super.ready();

        this._ensureAttribute('role', 'dialog');
        this._ensureAttribute('tabindex', 0);

        if(this.hideClose) {
          const closeIcon = this.shadowRoot.querySelector('#close');
          closeIcon.style.display = 'none';
        }
      }

    }

    window.customElements.define(EvDialog.is, EvDialog);
  </script>
</dom-module>
