<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="../ev-button/ev-button.html">
<link rel="import" href="../ev-dialog/ev-dialog.html">
<link rel="import" href="../ev-icons/ev-icons.html">
<link rel="import" href="../ev-overlay/ev-overlay.html">
<link rel="import" href="../ev-styles/colour.html">
<link rel="import" href="../ev-styles/typography.html">
<link rel="import" href="../iron-icon/iron-icon.html">


<dom-module id="ev-error-dialog">
  <template strip-whitespace>
    <style>
      :host {
        position: absolute;
        top: calc(50% - 155px);
        left: calc(50% - 310px);
        display: flex;
        flex-direction: row;
        justify-content: center;
        box-sizing: border-box;
        width: var(--ev-container-width, 620px);
        height: var(--ev-container-height, 310px);
        perspective: 600px;
        z-index: 200;
        --ev-container-width: 620px;
        --ev-container-height: auto;
        @apply --ev-font-common-base;
      }

      #inner-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: var(--ev-padding, 30px 40px 30px 40px);
        background-color: var(--ev-container-color, var(--ev-icon-fill));
        border: var(--ev-border, 1px solid #E0E0E0);
        border-radius: var(--ev-border-radius, 0px);
        border-width: var(--ev-border-width, 1px);
        border-style: var(--ev-border-style, solid);
        border-image: var(--ev-border-image, linear-gradient(to bottom, #e0e0e0, #b2b2b2) 1 100%);
        box-shadow: var(--ev-box-shadow, 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2));
      }

      .icon {
        position: relative;
        width: 70px;
        flex-shrink: 0;
        border-right: 2px solid lightgray;
      }

      iron-icon {
        position: absolute;
        width: 70px;
        height: 70px;
        top: calc(50% - 35px);
        left: -55px;
        color: var(--ev-icon-color, var(--ev-cornflower-500));
        background-color: var(--ev-icon-background-color, transparent);
        margin-left: 40px;
        margin-right: 40px;
      }

      .dialog-button {
        width: 116px;
        height: 42px;
        box-sizing: border-box;
        background-color: var(--ev-button-background-color, var(--ev-cornflower-500));
        color: var(--ev-button-color, var(--ev-icon-fill));
        padding-top: 13px;
        padding-bottom: 13px;
        margin-top: 25px;
        margin-bottom: 30px;
        font-size: 16px;
        text-align: center;
      }

      .dialog-info {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        width: calc(100% - 165px);
      }

      ::slotted(h2) {
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 22px;
        font-weight: bold;
        text-align: left;
        outline: none;
      }

      ::slotted(.dialog-message) {
        font-size: 16px;
        text-align: left;
        outline: none;
      }


      :host([hidden]) {
        display: none !important;
      }

      @keyframes animate-open {
        from { transform: rotateX(15deg) scale(0.8); opacity: 0; }
        to { transform: rotateX(0deg) scale(1); opacity: 1; }
      }

      .animate {
        animation: animate-open 0.25s ease-in-out forwards;
      }


      /* IE10+ */
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        h2 {
          margin-top: 0px;
          margin-bottom: 10px;
          font-size: 17px !important;
        }

        .dialog-message {
          margin-bottom: 15px;
        }
      }

      /* Edge only */
      @supports (-ms-ime-align: auto) {
        h2 {
          margin-top: 0px;
          margin-bottom: 5px;
          font-size: 17px !important;
        }
      }

      /* Firefox */
      @-moz-document url-prefix() {
        h2 {
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }

      @media only screen and (max-width: 500px) {
        :host {
          width: 350px;
          left: calc(50% - 175px);
        }
        .icon {
          display: none;
        }
      }


    </style>

    <div id="inner-wrapper">
      <div class="icon">
        <iron-icon id="dialog-icon" src="[[src]]" icon="ev-icons:exclamation"></iron-icon>
      </div>
      <div class="dialog-info">
        <h2 id="dialog-heading">
          <slot name="heading"></slot>
        </h2>
        <div id="error-message" class="dialog-message">
          <slot></slot>
        </div>
        <ev-button id="close-button" dialog-confirm class="dialog-button" tabindex="0">
          <slot name="buttonText">Okay</slot>
        </ev-button>
      </div>
    </div>

  </template>

  <script>
/**
`ev-error-dialog` is a dialog with an icon placed to the left. The dialog has a 'Okay' button to close it. The heading, main text
and button text can all be customised.

To specify the heading and button text, use the slots 'heading' and 'buttonText' respectively.

Example:

<ev-error-dialog>
  <h2 slot="heading">Error</h2>
  Oops something went wrong!
  <span slot="buttonText">Close</span>
</ev-error-dialog>

`ev-error-dialog` includes the exclamation icon as the default icon. To override this use the src property.

Example:

    <ev-error-dialog src="star.png"></ev-error-dialog>

To make elements in the div scroll, set the attribute `scrollable` on the enclosing <div>. This displays a custom
scroll bar.

To animate the opening and closing of the dialog, set the `animated` attribute of the dialog.


### Styling
Style the dialog with CSS as you would a normal DOM element.

    <!-- set the position of the dialog to be 20px from the top, 100px to the left with a width of 400px -->
    <ev-error-dialog style="top: 20px; left: 100px; width: 400px;"></ev-error-dialog>


The following custom properties and mixins are available for styling:

Custom property               | Description                     | Default
------------------------------|---------------------------------|-----------------------
`--ev-container-width`        | Dialog width                    | default is 620px
`--ev-container-height`       | Dialog height                   | default is auto
`--ev-container-color`        | Background for the dialog       | default is white
`--ev-icon-color`             | Color for the icon              | default is #5e8bf5
`--ev-icon-background-color`  | Background color for the icon   | default is transparent
`--ev-button-color`           | Color for the button            | default is white
`--ev-button-background-color`| Background color for the button | default is #5e8bf5
`--ev-padding`                | Paddding inside the dialog      | top, right, bottom, left: 30px 40px 30px 40px
`--ev-border`                 | Dialog border                   | default is 1px solid #E0E0E0
`--ev-border-radius`          | Border radius                   | default is 0px
`--ev-border-width`           | Border width                    | default is 1px
`--ev-border-style`           | Border style                    | default is solid
`--ev-border-image`           | Border image                    | default is a box shadow that fades to the edges
`--ev-box-shadow`             | Box shadow                      | default is a box shadow



@customElement
@polymer
@demo demo/ev-error-dialog.html
*/
    class EvErrorDialog extends EvDialog {
      static get is() { return 'ev-error-dialog'; }
      static get properties() {
        return {
          /**
           * The URL of an image for the icon. If the src property is specified,
           * the icon property should not be.
           */
           src: String,
           /**
           * If true, the 'Okay' button is not displayed
           */
           hideOkayBtn: {
            type: Boolean,
            value: false
           }
        };
      }

      ready() {
        super.ready();

        this._ensureAttribute('role', 'dialog');
        this._ensureAttribute('tabindex', 0);

        if (this.src !== undefined) {
          let icon = this.shadowRoot.querySelector('#dialog-icon');
          icon.src = this.src;
          icon.icon = null;
        }

        if(this.hideOkayBtn) {
          const okayBtn = this.shadowRoot.querySelector('.dialog-button');
          okayBtn.style.display = 'none';
        }
      }

    }

    window.customElements.define(EvErrorDialog.is, EvErrorDialog);
  </script>
</dom-module>
